## Builds Database container and ASP.NET Core container for development environment
## Need to add a ROS container potentially

services:

  mariadb-dev:
    image: mariadb:latest
    container_name: bloom-mariadb-dev
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: bloomrootpassword
      MARIADB_DATABASE: bloom_db
      MARIADB_USER: bloomuser
      MARIADB_PASSWORD: bloompassword
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - bloom-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p$MARIADB_ROOT_PASSWORD"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s
  
  server-dev:
    build:
      context: .
    image: bloom-server-dev:latest
    container_name: bloom-server-dev
    ports:
      - "5000:8080"
      - "2443:2443"
    depends_on:
      mariadb-dev:
        condition: service_started
        restart: true
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_HTTPS_PORT=2443
    restart: always
    volumes:
      - dpkeys:/var/dpkeys
    networks:
      - bloom-network

networks: 
  bloom-network:
    driver: bridge

volumes:
  dpkeys:
  db_data: